
.Nonscroll::-webkit-scrollbar {
  display: none;
}


.main-page-large {
  /* 600px 이상일 때의 스타일 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-page-small {
  /* 600px 미만일 때의 스타일 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.main-page-small{
  margin :10px;
}
